<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regration Suite" >
<listeners>

<listener class-name="resources.listnertest"/>
<listener class-name="resources.ExtentReporterNG"/>
</listeners>

  <test name="LocationTest">
    <classes>
     <class name="testartemus.locationTest"/>
     
      </classes>
  </test> <!-- Test -->
  
  <test name="CustomerProfileTest">
    <classes>
          <class name="testartemus.CustomerprofileTest"/>
    
     </classes>
  </test> <!-- Test -->
    
    <test name="VesselTest">
    <classes>
    
      <class name="testartemus.vesselTest"/>
      </classes>
  </test> <!-- Test -->
  
   <test name="VoyegeTest">
    <classes>
     <class name="testartemus.voyegeTest"/>
      </classes>
  </test> <!-- Test -->
     
      <test name="BillHeaderTest">
    <classes>
      <class name="testartemus.billheaderTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test name="addoriginalmanifestTest">
    <classes>
      <class name="testartemus.addoriginalmanifestTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="AMSMainScreenTest">
    <classes>
      <class name="testartemus.AMSMainScreenTest"/>
    </classes>
  </test> <!-- Test -->
  
     <test name="VesselArrivalTest">
    <classes>
      <class name="testartemus.VesselArrivalTest"/>
    </classes>
  </test> <!-- Test -->
  
      <test name="VesselDepartureTest">
    <classes>
      <class name="testartemus.VesselDepartureTest"/>
    </classes>
  </test> <!-- Test -->
  
     <test name="ItSelectionScreenTest">
    <classes>
      <class name="testartemus.ItSelectionScreenTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
     <test name="PermitToTransferTest">
    <classes>
      <class name="testartemus.PermitToTransferTest"/>
    </classes>
  </test> <!-- Test -->
  
  
     <test name="ISFTest">
    <classes>
      <class name="testartemus.ISFTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="SCACCodeTest">
    <classes>
      <class name="testartemus.SCACCodeTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="SubOrdinateScacTest">
    <classes>
      <class name="testartemus.SubOrdinateScacTest"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="CandaOriginalmanifest">
    <classes>
      <class name="testartemus.CandaOriginalmanifest"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="candamainTest">
    <classes>
      <class name="testartemus.candamainTest"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="AFRVoyageScheduleTest">
    <classes>
      <class name="testartemus.AFRVoyageScheduleTest"/>
    </classes>
  </test> <!-- Test -->
  
  
   <test name="AFRJapanBillHeaderTest">
    <classes>
      <class name="testartemus.AFRJapanBillHeaderTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Regration Suite -->


 